
# Connect to Supabase via connection pooling
DATABASE_URL=postgresql://postgres.kyhgwhholfhregnmizrh:MalhadoM11!@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true
# Direct connection to the database. Used for migrations
DIRECT_URL=postgresql://postgres.kyhgwhholfhregnmizrh:MalhadoM11!@aws-1-eu-central-1.pooler.supabase.com:5432/postgres


NODE_ENV=development
RESEND_API_KEY=re_TpGxF22E_8RH7KjvAthCXVavNzFgKVTnX

METRICS_TOKEN=dev_token_123
ALERT_EMAIL=domingos.cambongo@outlook.pt
REDIS_URL="redis://localhost:6379"
